
#all-tickets{
    min-height: 51.7vh;
}

.user-details.card{
    border: 2px solid var(--input-border-background-color);
    width: 100%;
    padding: var(--space100);
    margin-left: -1.25rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    justify-self: center;
}

.user-details.card:hover{
    background-color: var(--input-background-trasparent-color);
}