@font-face {
  font-display: swap;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts-3by.pages.dev/inconsolata-v32-latin/inconsolata-v32-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts-3by.pages.dev/inconsolata-v32-latin/inconsolata-v32-latin-500.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts-3by.pages.dev/inconsolata-v32-latin/inconsolata-v32-latin-700.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 800;
  src: url("https://fonts-3by.pages.dev/inconsolata-v32-latin/inconsolata-v32-latin-800.woff2")
    format("woff2");
}

:root {
  /* colors */
  --label-input-color: hsl(0, 0%, 100%);
  --heading-color: hsl(252, 6%, 83%);
  --text-color: hsl(245, 15%, 58%);
  --input-border-background-color: hsl(245, 19%, 35%);
  --input-background-trasparent-color: hsla(245, 19%, 35%, 0.416);
  --background-buttontext-color: hsl(248, 70%, 10%);

  --error-color: hsl(7, 88%, 67%);
  --highlight-text-color: hsl(7, 71%, 60%);

  --Gradient-text: hsl(7, 86%, 67%), hsl(0, 0%, 100%);

  /* typography */
  /* font faimly */
  --ff: "Inconsolata";

  /* font size */
  --fs100: 0.75rem; /* 12px */
  --fs200: 0.875rem;  /* 14px */
  --fs300: 1.125rem; /* 18px */
  --fs400: 1.25rem; /* 20px */
  --fs500: 1.5rem;  /* 24px */
  --fs600: 2rem;    /* 32px */
  --fs700: 2.5rem; /* 40px */
  --fs800: 3rem;    /* 48px */

  /* spacing *10  */ 
  --space100 : 0.625rem;  /* 10px */
  --space200 : 1.25rem;  /* 20px */
  --space300 : 1.875rem;  /* 30px */
  --space400 : 2.5rem;  /* 40px */
  --space500 : 3.125rem;  /* 50px */

  /*spaceing *5 */
  --space1 : 0.313rem; /* 5px */
  --space2 : 0.938rem;  /* 15px */
  --space3 : 1.563rem;  /* 25px */
  --space4 : 2.188rem;  /* 35px */
  --space5 : 2.813rem;  /* 45px */

}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  height: 100%;
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-buttontext-color);
  font-family: var(--ff), sans-serif;
  color: white;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
}

a{
  color: var(--text-color);
  text-decoration: none;
  transition: .3s ease-in-out;
}

a:hover{
  color: white;
}

.empty {
  height: 3.125rem;
}

.background-imgs {
  background-image: url(../assets/images/pattern-squiggly-line-bottom.svg),
    url(../assets/images/pattern-squiggly-line-top.svg),
    url(../assets/images/pattern-lines.svg),
    url(../assets/images/background-mobile.png);
  background-position: bottom left, top right, top, center;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: contain, contain, auto, cover;
}
.wrapper {
  height: 100%;
  min-height: 92vh;
  max-width: 28.125rem;
  padding: var(--space300) var(--space200);
  place-self: center;
}

.logo {
  place-self: center;
}

main {
  display: grid;
  grid-template-rows: auto;
  gap: var(--space200);
  margin-block: var(--space400);
  place-self: center;
  align-items: center;
  text-align: center;
}
.heading-description {
  display: grid;
  gap: var(--space200);
}
.heading-description .heading {
  font-size: var(--fs600);
  font-weight: 800;
  line-height: 1.2;
  color: var(--heading-color);
}

.heading-description .description {
  font-size: var(--fs400);
  font-weight: 400;
  color: var(--text-color);
}

form {
  display: grid;
  gap: var(--space200);
  width: 100%;
  justify-self: center;
}

form .input-media {
  text-align: start;
  width: 100%;
}
form .input-title {
  font-size: var(--fs300);
  color: var(--label-color);
}
form .input-media .upload-media-box {
  height: 7.5rem;
  width: 100%;
  justify-self: center;
  border: 2px dashed var(--input-border-background-color);
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
form .input-media .upload-media-box:hover {
  background-color: var(--input-background-trasparent-color);
}

form .input-media .upload-media-box .upload-icon {
  display: block;
  align-content: center;
  padding: var(--space200);
  cursor: pointer;
}
.upload-img {
  justify-self: center;
  padding: var(--space1);
  width:2.5rem;
  /* height: 40px; */
  background-color: var(--input-border-background-color);
  border-radius: 10px;
  margin-bottom: var(--space100);
}
.upload-feedback {
  font-size: var(--fs100);
  color: var(--text-color);
  margin-top: var(--space100);
}

.upload-feedback::before {
  content: "";
  padding-right: var(--space3);
  background-image: url(../assets/images/icon-info.svg);
  background-repeat: no-repeat;
  background-position: center;
}

form .input-fields {
  display: grid;
  gap: var(--space200);
  text-align: start;
}

form .input-fields .full-name-section,
form .input-fields .email-section,
form .input-fields .github-section {
  display: grid;
  gap: var(--space1);
}

.input-style {
  background-color: transparent;
  border-radius: 10px;
  padding: var(--space100) var(--space200);
  border-style: solid;
  outline-offset: 2px;
  color: var(--label-input-color);
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.input-style:hover {
  background-color: var(--input-background-trasparent-color);
}

input:-webkit-autofill
{
  border: none;
  color: white !important;
  -webkit-text-fill-color: white !important;
  border: 2px solid;
  transition: background-color 5000s ease-in-out 0s;
}

/* error msg style  */
.feedback {
  display: none;
  font-size: var(--fs100);
  color: var(--error-color);
}



/* input validation */
input:focus{
  background-color: transparent;
  
}
input:valid{
  outline-color: green;
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color:  var(--error-color);
}

input:invalid:not(:placeholder-shown) + p[data-feedback]{
  border-color: var(--error-color);
  outline-color: var(--error-color);
  display: block;
}

/* validation end here  */

/* style button */
.cta{
  display: grid;
  gap: var(--space200);
}
.button{
  width: 100%;
  padding-block: var(--space2);
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover{
  letter-spacing: 4px;
}

.cta-submit {
  background-color: var(--highlight-text-color);
  color: var(--background-buttontext-color);
}
.cta-submit:hover { 
  box-shadow: 0 2px 10px var(--highlight-text-color);
}

.cta-get-tickets{
  background-color: var(--background-buttontext-color);
  color: var(--highlight-text-color);
}
.cta-get-tickets:hover{
  box-shadow: 0 2px 10px var(--background-buttontext-color); 
}

footer{
  display: flex;
  flex-direction: column;
  gap: var(--space1);
  padding-bottom: var(--space200);
  justify-self: center;
  text-align: center;
  color: var(--text-color);
}
.social-handles{
  display: flex;
  gap: var(--space200);
  justify-content: center;
  margin-block: var(--space100);
}

i{
  background-color: white;
  border-radius: 50%;
  padding: var(--space100) var(--space100);
  transition: .4s ease-in-out;
}
i:hover{
  background-color: var(--text-color);
}




@media (min-width: 48rem) {
  .background-imgs {
    background-image: url(../assets/images/pattern-squiggly-line-bottom.svg),
      url(../assets/images/pattern-squiggly-line-top.svg),
      url(../assets/images/pattern-lines.svg),
      url(../assets/images/background-tablet.png);
    background-size: auto, auto, auto, cover;
  }
  .wrapper {
    max-width: 43.75rem;
  }
  .heading-description .heading {
    font-size: var(--fs700);
  }

  form {
    display: grid;
    gap: var(--space200);
    width: 70%;
  }
  footer{
    flex-direction: row;
    gap: var(--space200);
    align-items: center;
    justify-content: center;
  }
  .social-handles{
    gap: var(--space100);
  }
}

@media (min-width: 64rem) {
  .background-imgs {
    background-image: url(../assets/images/pattern-squiggly-line-bottom.svg),
      url(../assets/images/pattern-squiggly-line-top.svg),
      url(../assets/images/pattern-lines.svg),
      url(../assets/images/background-desktop.png);
  }
  
  .heading-description .heading {
    font-size: var(--fs800);
  }
}
