.display-ticket {
   
    display: grid;
    grid-template-rows: 1fr 1fr .13fr;
    gap: var(--space500);
    margin-block: var(--space400);
    place-self: center;
    align-items: center;
    text-align: center;
  }
  
  .display-ticket .name {
    background: linear-gradient(45deg, var(--Gradient-text));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .display-ticket .description {
    text-align: center;
    width: 95%;
    justify-self: center;
  }
  .display-ticket .email {
    color: var(--highlight-text-color);
  }
  
  .ticket-data{
    width: 21.875rem;
    height: 12.5rem;
    justify-self: center;
    background-image: url(../assets/images/pattern-ticket.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }
  .conference-brand{
    display: grid;
    grid-template-columns: auto 9fr;
    padding: var(--space2);
  }
  
  .ticket-data .brand-location{
    padding-left:var(--space100) ;
    text-align: start;
    align-self: center;
  }
  .ticket-data .brand-location .brand-name{
    font-size: var(--fs500);
    line-height: 1;
  }
  .conference-brand::before{
    

    content: "";
    background-image: url(../assets/images/logo-mark.svg);
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.563rem;
    height: 1.563rem;
    margin-top: var(--space1);
  }
  
  .ticket-data .brand-location .date-address{
    font-size: var(--fs100);
    line-height: 1.5;
    color: var(--text-color);
  }

  .user-details{
    display: grid;
    grid-template-columns: 3.125rem 12.5rem;
    grid-template-rows: 1.563rem 1.563rem;
    margin-inline: var(--space2);
    margin-top: var(--space3);
    align-self: end;
  }

  .user-details img{
    width: 3.125rem;
    height: 3.125rem;
    object-fit: cover;
    object-position: top;
    grid-area: 1 / 1;
    border-radius: 10px;
  }

  .user-details .user-full-name{
    grid-area: 1 / 2;
    text-align: start;
    padding-left: var(--space100);
    font-size: var(--fs400);
  }

  .user-details .user-name{
    grid-area: 2 / 2 ;
    text-align: start;
    align-self: end;
    padding-left: var(--space100);
    font-size: var(--fs200);
    color:var(--text-color);
  }
  .user-name::before{
    content:"" ;
    background-image: url(../assets/images/icon-github.svg);
    padding: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain;
    /* background-clip: padding-box; */
  }

  .ticket-id-section{
    transform: rotateZ(90deg);
    display: block;
    position: absolute;
    top: 35%;
    right:2%;
  }
  .ticket-id{
    font-size: var(--fs200);
    color: var(--text-color);
  }

  @media (min-width: 48rem) {
    .display-ticket .description {
        width: 70%;
      }
  }